---
// @ts-ignore
import { Icon } from "astro-icon";
const features = [
  {
    title: "Software Development Outsourcing",
    description:
      "We offer full-service software development outsourcing, enabling you to leverage our extensive expertise across various technologies and industries. Our end-to-end solutions cover everything from initial consulting to development, deployment, and maintenance, ensuring your project is delivered on time, within budget, and to the highest quality standards.",
    icon: "bx:bxs-briefcase",
  },
  
  {
    title: "Staff Augmentation Services",
    description:
      "Enhance your existing team with our staff augmentation services. We provide skilled software developers, engineers, and IT professionals who seamlessly integrate with your team, filling the gaps in your project needs. Our flexible engagement models allow you to scale up or down based on your project's requirements.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Nearshore Software Development",
    description:
      "Our nearshore software development services combine the benefits of outsourcing with the convenience of geographical proximity, similar time zones, and cultural alignment. This model facilitates better communication, collaboration, and project management, ensuring more efficient and effective development processes.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Dedicated Development Teams",
    description:
      "Build your dedicated development team with us. We offer tailored teams of skilled professionals who work exclusively on your project, providing the continuity, dedication, and expertise needed to achieve your strategic objectives. This model is ideal for long-term projects requiring sustained focus and in-depth knowledge.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Custom Software Development",
    description:
      "Our custom software development services are designed to address your unique business challenges and opportunities. From bespoke applications to system integrations and software modernization, we ensure your custom solutions are robust, scalable, and aligned with your business goals.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Agile Project Teams",
    description:
      "Leverage our Agile project teams for dynamic and flexible software development. Our Agile methodologies ensure rapid prototyping, iterative development, and timely delivery, with a focus on continuous improvement and responsiveness to changing requirements.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Technology Consulting",
    description:
      "Our technology consulting services help you navigate the complex and evolving tech landscape. From strategy development to technology selection and implementation, we guide you through every step, ensuring your IT initiatives support your business objectives.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Quality Assurance Outsourcing",
    description:
      "Ensure the highest quality for your software with our QA outsourcing services. Our comprehensive testing strategies and methodologies identify and address issues early, reducing risks and ensuring a seamless user experience.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "UI/UX Design Services",
    description:
      "Create compelling and user-friendly designs with our UI/UX design services. Our designers specialize in crafting intuitive interfaces and engaging user experiences for web and mobile applications, enhancing user satisfaction and engagement.",
    icon: "bx:bxs-briefcase",
  },

    {
    title: "Cloud Development and Migration",
    description:
      "Take advantage of our cloud development and migration services to harness the power of cloud computing. Whether you're moving existing applications to the cloud or developing new cloud-native solutions, we ensure a smooth transition and scalable, secure, and cost-effective operations.",
    icon: "bx:bxs-briefcase",
  },

    {
    title: "Blockchain Development Services",
    description:
      "Incorporate blockchain technology into your operations with our blockchain development services. From smart contracts to decentralized applications (DApps), we help you explore the potential of blockchain for enhanced security, transparency, and efficiency.",
    icon: "bx:bxs-briefcase",
  },
      {
    title: "Data Analytics and Business Intelligence",
    description:
      "Transform data into actionable insights with our data analytics and business intelligence services. We help you collect, process, and analyze large volumes of data to inform decision-making, optimize operations, and drive business growth.",
    icon: "bx:bxs-briefcase",
  },

        {
    title: "Cybersecurity Services",
    description:
      "Protect your digital assets with our cybersecurity services. We offer comprehensive security assessments, threat mitigation strategies, and ongoing monitoring to safeguard your information and systems from cyber threats.",
    icon: "bx:bxs-briefcase",
  },

          {
    title: "Continuous Support and Maintenance",
    description:
      "Our continuous support and maintenance services ensure your software remains up-to-date, secure, and fully operational. We provide timely updates, bug fixes, and performance enhancements, along with 24/7 support for critical issues.",
    icon: "bx:bxs-briefcase",
  },

];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Outsourcing and Staff Augmentation Services for Software Development
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Dive into our comprehensive outsourcing and staff augmentation services, designed to extend your software development capabilities with flexibility and strategic value, including nearshoring options for optimal collaboration and efficiency.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
