---
// @ts-ignore
import { Icon } from "astro-icon";
const features = [
  {
    title: "Cloud Migration",
    description:
      "We provide comprehensive cloud migration services to move your applications, databases, and infrastructures to the cloud. Our process ensures minimal downtime, enhancing your business agility, scalability, and cost-efficiency.",
    icon: "bx:bxs-briefcase",
  },
  
  {
    title: "Cloud-Native Applications",
    description:
      "Our team specializes in developing cloud-native applications that leverage cloud's full potential, focusing on microservices, serverless architectures, and containerization to ensure scalability, resilience, and speed.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Hybrid Cloud Solutions",
    description:
      "We offer hybrid cloud solutions that combine the best of private and public clouds. Our services ensure seamless integration, optimized performance, and strategic flexibility for your business operations.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Cloud Security",
    description:
      "Our cloud security services safeguard your data and applications in the cloud against threats and vulnerabilities. We provide end-to-end encryption, identity and access management, and compliance adherence to protect your business.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Cloud Data Management",
    description:
      "We assist in designing and implementing robust cloud data management strategies. Our services include data migration, storage optimization, and disaster recovery planning, ensuring data availability and integrity.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Content Delivery Networks (CDN)",
    description:
      "Our CDN solutions accelerate the delivery of your web content and services. By leveraging geographically distributed servers, we enhance your content's performance and user experience globally.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Edge Computing",
    description:
      "By integrating edge computing with cloud services, we offer solutions that reduce latency, manage data efficiently, and drive real-time analytics, enhancing operational efficiency and decision-making.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Cloud Infrastructure Management",
    description:
      "We provide cloud infrastructure management services to optimize your cloud resources. Our solutions include monitoring, automation, and cost management to ensure a scalable and cost-effective cloud environment.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "AI & Machine Learning on Cloud",
    description:
      "Leverage the power of AI and machine learning on the cloud. Our services include developing AI-driven applications, data analytics, and machine learning models to drive innovation and competitive advantage.",
    icon: "bx:bxs-briefcase",
  },

    {
    title: "Internet of Things (IoT) on Cloud",
    description:
      "Our IoT on cloud services enable you to connect and manage your IoT devices efficiently. We offer solutions for data collection, analysis, and actionable insights to enhance operational efficiency and create new business opportunities.",
    icon: "bx:bxs-briefcase",
  },

    {
    title: "Cloud Financial Management",
    description:
      "We provide cloud financial management consultancy to help you understand and optimize your cloud spending. Our services include cost analysis, budgeting, and financial governance to maximize your cloud investment.",
    icon: "bx:bxs-briefcase",
  },
      {
    title: "DevOps on Cloud",
    description:
      "Our DevOps on cloud services facilitate continuous integration and delivery, infrastructure as code, and automated deployment strategies to speed up your development cycles and improve operational reliability.",
    icon: "bx:bxs-briefcase",
  },

];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Cloud Solutions and Consultancy Services
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Discover our cloud solutions and consultancy services, designed to accelerate innovation and enhance your projects.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
