---
// @ts-ignore
import { Icon } from "astro-icon";
const features = [
  {
    title: "WEB 3.0",
    description:
      "We build decentralized apps, integrate blockchain tech, and develop smart contracts to empower businesses with greater security, transparency, and efficiency.",
    icon: "bx:bxs-briefcase",
  },
  
  {
    title: "Metaverse",
    description:
      "Our team of experts can help you leverage Metaverse's unique features, such as digital identity, decentralized data storage, and tokenization, to create secure, transparent, and efficient solutions for your business.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Smart Contracts",
    description:
      "Our Smart Contract development services can help you design, develop, and deploy custom Smart Contracts tailored to your business needs, increasing efficiency and reducing costs.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Content Management Systems (CMS)",
    description:
      "Our CMS development services can help you create, manage, and maintain your digital content on various platforms, allowing you to engage with your audience effectively and efficiently.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "NFTs",
    description:
      "Our NFT development services can help you create, manage, and trade NFTs on various blockchain platforms, enabling you to monetize your digital assets and engage with your audience in new and exciting ways.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "AI",
    description:
      "By combining the strengths of AI and blockchain, our solutions can help you achieve new levels of accuracy, speed, and security for your business operations.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Blockchain",
    description:
      "By implementing blockchain technology, our solutions can help you increase efficiency, reduce costs, and improve security for your business operations.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "IoT",
    description:
      "Using IoT for Blockchain, we can help your business achieve new levels of trust, efficiency, and security by creating decentralized IoT networks, automating processes, and securing data transmissions.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Crypto",
    description:
      "By leveraging our expertise in crypto development, we can help you achieve greater financial flexibility and security for your business operations.",
    icon: "bx:bxs-briefcase",
  },

    {
    title: "DeFi",
    description:
      "With our DeFi solutions, we can help you achieve greater financial accessibility, transparency, and security for your business operations.",
    icon: "bx:bxs-briefcase",
  },


];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Agile Product Development Solutions
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Check out our agile development services, built to speed up and innovate your projects.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
