---
// @ts-ignore

import { Icon } from 'astro-icon/components'
const features = [
  {
    title: "Responsive Design",
    description:
      "We create responsive websites and applications that adapt to different devices and screen sizes, providing a seamless browsing experience for your users.",
    icon: "bx:bxs-crown",
  },
  
  {
    title: "E-commerce",
    description:
      "Our team of experts can help you build user-friendly, secure, and efficient e-commerce platforms to boost your online sales and enhance customer engagement.",
    icon: "bx:bxs-crown",
  },
  {
    title: "Custom Web Applications",
    description:
      "Our custom web application development services can help you design, develop, and deploy bespoke applications tailored to your business needs, increasing efficiency and streamlining operations.",
    icon: "bx:bxs-crown",
  },
  {
    title: "Content Management Systems (CMS)",
    description:
      "Our CMS development services can help you create, manage, and maintain your digital content on various platforms, allowing you to engage with your audience effectively and efficiently.",
    icon: "bx:bxs-pencil",
  },
  {
    title: "AI Integration",
    description:
      "By integrating AI into your web development projects, our solutions can help you achieve new levels of accuracy, speed, and personalization for your business operations.",
    icon: "bx:bxs-bot",
  },

  {
    title: "Data Visualization",
    description:
      "Our data visualization solutions can help you present complex data in an easily digestible format, enabling better decision-making and insights for your business.",
    icon: "bx:bxs-bar-chart-square",
  },

  {
    title: "Internet of Things (IoT)",
    description:
      "Leveraging IoT in web development, we can help your business achieve new levels of efficiency, automation, and security by connecting devices, automating processes, and securing data transmissions.",
    icon: "bx:bxs-chip",
  },

  {
    title: "Web Security",
    description:
      "By focusing on web security best practices, we can help you safeguard your website and applications from potential threats, ensuring the safety and privacy of your users' data.",
    icon: "bx:bxs-virus-block",
  },

  {
    title: "Progressive Web Apps (PWA)",
    description:
      "We develop Progressive Web Apps that deliver a native app-like experience, combining the best features of both web and mobile applications. PWAs provide faster load times, offline access, and improved user engagement, enhancing the overall user experience and performance.",
    icon: "bx:bxs-mobile",
  },


];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Agile Product Development Solutions
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Check out our agile development services, built to speed up and innovate your projects.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
