---
// @ts-ignore
import { Icon } from "astro-icon";
const features = [
  {
    title: "Web Development",
    description:
      "We specialize in custom web development services, creating responsive, high-performing, and scalable websites tailored to your business requirements. Our expertise includes e-commerce platforms, CMS, and web applications that engage and convert your target audience.",
    icon: "bx:bxs-briefcase",
  },
  
  {
    title: "Mobile App Development",
    description:
      "Our mobile app development services cover the full cycle of creating a mobile app, from ideation to launch and beyond. We develop native and cross-platform apps for iOS, Android, and web that offer seamless user experiences, robust functionality, and aesthetic designs.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Enterprise Application Development",
    description:
      "We provide enterprise application development services to streamline your business processes, enhance productivity, and improve decision-making. Our solutions are secure, scalable, and integrate seamlessly with your existing infrastructure.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "UI/UX Design",
    description:
      "Our UI/UX design services focus on creating intuitive and engaging user interfaces for websites and applications. We prioritize usability, accessibility, and aesthetics to ensure a positive user experience that drives engagement and retention.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "API Development and Integration",
    description:
      "We offer API development and integration services to enable seamless communication between your applications, third-party services, and systems. Our solutions ensure secure data exchange and enhance functionality by connecting disparate systems.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "E-Commerce Solutions",
    description:
      "Our e-commerce development services are designed to create compelling online stores with user-friendly interfaces, secure payment integrations, and scalable architectures. We help businesses increase sales, improve customer experiences, and manage inventory efficiently.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Custom CRM Solutions",
    description:
      "We develop custom CRM solutions tailored to your specific business needs. Our services enhance customer relationships, streamline sales processes, and provide actionable insights into customer behaviors and sales trends.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Content Management Systems (CMS)",
    description:
      "Our CMS development services enable you to manage and update your digital content with ease. We build custom CMS platforms that are intuitive, flexible, and tailored to your content management needs.",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Progressive Web Apps (PWAs)",
    description:
      "We create Progressive Web Apps that combine the best of web and mobile apps. Our PWAs are fast, reliable, and engaging, ensuring an app-like experience for users across all devices.",
    icon: "bx:bxs-briefcase",
  },

    {
    title: "Software Product Development",
    description:
      "Our software product development services take your product from concept to reality. We focus on innovation, scalability, and performance, ensuring your product meets market demands and exceeds user expectations.",
    icon: "bx:bxs-briefcase",
  },

    {
    title: "Cloud Integration Services",
    description:
      "We provide cloud integration services to enhance your web and mobile applications with the power of cloud computing. Our solutions offer scalability, improved performance, and secure data storage.",
    icon: "bx:bxs-briefcase",
  },
      {
    title: "Quality Assurance and Testing",
    description:
      "Our comprehensive quality assurance and testing services ensure your web and mobile applications are reliable, performant, and bug-free. We use the latest testing methodologies and tools to guarantee a superior user experience.",
    icon: "bx:bxs-briefcase",
  },

        {
    title: "Support and Maintenance",
    description:
      "We offer ongoing support and maintenance services to keep your web and mobile applications up-to-date and running smoothly. Our proactive approach identifies and resolves issues quickly, minimizing downtime and ensuring continuous improvement.",
    icon: "bx:bxs-briefcase",
  },

];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Custom Web and Application Development Services
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Explore our custom web and application development services, crafted to bring your unique ideas to life and drive digital transformation.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
