---
// @ts-ignore
import { Icon } from "astro-icon";


---
<style>
.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.logo img {
  width: 140px;
  height: auto;
}
</style>




<div class="mt-24">
  <h2 class="text-center text-slate-500">Trusted By</h2>
 <div class="logo-container">
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.30.13-qjrlsohq9fz9a0uwzdx375bxt2evnv2565sacxxyi6.png" alt="infuy logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.30.09-qjrlsf3cd3me1x8ki9uti7pbv7p7iw0tsv9fk6bw8e.png" alt="Koibankx" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.30.04-qjrls6msnlat5fkuvo76dru6iquwlm38rpe28oofse.png" alt="Paradigma cross logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.30.00-qjrlry68y2z88xx592jj9bz16a0loc5nqjiox70zce.png" alt="Blockvolution logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.55-qjrlrmw6o2jsdmdj2xo0feti1nk73ywvozov5vhpf2.png" alt="Paradigma Soluciones Logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.51-qjrlrcjykw5mtwsjrb745zffiez5rartzkiivtx1bi.png" alt="Venture Aviator logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.46-qjrlr19wavq6yl8xl6blc29wdsir6xj1y0op4idre6.png" alt="pango logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.41-qjrlqrviejdbqhml429bn4nafxt31yhqkq5ubqrp4e.png" alt="Bitgive logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.36-qjrlqhjabcz66s1lsfsfdp97wp81pacovazi1p710u.png" alt="Citizens reserve logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.30-qjrlq92qlunlaadw5u4s99e2k8dqs0f3u544q7jkku.png" alt="r3 logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.25-qjrlpwuu506v3cvn56umuuh2u81yzy2lggmthm1otq.png" alt="Monax" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.19-qjrlpngg8ntzv99ao2sd5wugwdcauz1a363youfmjy.png" alt="BRUM COSTA abogados" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.11-qjrlpezwj5ieyrll1h4q1gzbjwhzxp3p208ldcs63y.png" alt="IBM logo" />
  </figure>
  <figure class="logo">
    <img src="https://8ef84d9c.rocketcdn.me/wp-content/uploads/elementor/thumbs/Screenshot-2023-03-01-at-15.29.02-qjrlp6jctn6u29xvevh2x1467fnp0f640ud81v4pny.png" alt="Suku logo" />
  </figure>
</div>

</div>
